<h1>Stupid Coaching</h1>
  <div class="banner-ask">
    <p><%= @question %></p>
    <p class="you">- You</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="banner">
    <p class="question"><%= @answer %></p>
    <p class="coach">- Your coach</p>
  </div>
<br>
<br>
<br>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
