// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Defining a variable
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}


.banner {
  background: lightyellow;
  width: 33%;
  float: right;
  padding: 1px 0px 1px 10px;
  border-right: 5px solid lightgray;
  border-radius: 20px;

  .question {
    font-weight: bold;
  }

  .coach {
    font-style: italic;
  }
}

.banner-ask {
  background: lightblue;
  width: 33%;
  float: left;
  padding: 1px 0px 1px 10px;
  padding: 10px;
  border-right: 5px solid lightgray;
  border-radius: 20px;

  .you {
    font-style: italic;
  }
}




a {
  color: blue;
  &:hover {
    color: black;
  }
}

